<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

<div th:each="error : ${#fields.allErrors()}">
    <p th:text="${error}"></p>
</div>

<form action="#" th:action="@{/skierowanie/dodaj}" method="post" th:object="${skierowanie}">
    <div class="form-group">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('lekarz')}" th:errors="*{lekarz}">MUSISZ PODAC LEKARZ</p>
        <label for="lekarz">Lekarz : </label>
        <input class="form-control" type="text" th:field="*{lekarz}" id="lekarz"/>
    </div>
    <div class="form-group">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('pacjent')}" th:errors="*{pacjent}">MUSISZ PODAC PACJENT</p>
        <label for="pacjent">Pacjent : </label>
        <input class="form-control" type="text" th:field="*{pacjent}" id="pacjent"/>
    </div>
    <div class="form-group">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('termin')}" th:errors="*{termin}">Zly termin</p>
        <label for="termin">Termin : </label>
        <input class="form-control" type="date" th:field="*{termin}" id="termin"/>
    </div>
    <input class="btn" type="submit">
</form>
<div>
    <a class="btn" href="/skierowanie/list">Anuluj</a>
</div>
</body>
</html>